/* main.css */

@import 'tailwindcss';
@import '@nuxt/ui';
@plugin 'tailwindcss-animate';

/* Fonts */
@font-face {
    font-family: 'Public Sans';
    src:
        url('/src/assets/fonts/PublicSans.woff2') format('woff2-variations'),
        url('/src/assets/fonts/PublicSans.ttf') format('truetype-variations');
}

@theme {
    --font-family-sans: 'Public Sans', sans-serif;
}

:root {
  -webkit-font-smoothing: antialiased;
}
